html{
	scroll-behavior: smooth;
	scroll-timeline: 2;
}
*
{
	scroll-behavior: smooth;
	/* font-family: 'Poppins', sans-serif;  */
}

  #faqheading{
	text-align: center;
}
#heading{
	display: flex;
	justify-content: center;
	margin-top: 10%;
}
#faq{
	min-height: 100vh;
	margin: -30px;
	top: 0;
	background:  rgb(237, 237, 237);
	font-family: monospace
}
#faqtext{
	font-weight: bold;
	font-family: monospace
}
.faq-head
{
    display: flex;
    justify-content: space-between;
}
#faqpage
{
    width: 60%;
    min-height: 100vh;
	position: relative;
	
}
#faq-head
{
    padding: 5px;
    background-color: rgb(220, 227, 230);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
	transition:  0.3s ease;
	color: #CC313D;
}
#faq-head h3{
	font-weight: bold;
	font-family: monospace
}
#faq-head img 
{
    margin-right: 8%;
    cursor: pointer;
    padding: 3px;
    transition-duration: 0.15s;
    transition-delay: 0.15s;
}
#faq-head img:hover
{
    border-radius: 30px;
    border: solid 1px;
    background-color: rgb(144, 163, 165);
}
#faq-content p 
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 30px;
}
#faq-content
{
	width: 80%;
	margin-right: 2%;
    margin-top: 35px;
    transition:all 0.5s ease;
	display: flex;
	flex-direction: column;
	position: relative;
	left: 15%;
}
#faq-content:hover
{
    transform: scale(1.04) translateY(-3px);
    cursor: pointer;
	
}
.faq-summary{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	top: 25%;
	left: 25%;
	margin-bottom: 10%;
	height: 170px;
}

#faq-content:hover + #faq-head{
	height: 10px;
}
#faqlink{
	text-decoration: none;
	color: black;
	font-size: 14px;
	cursor: pointer;
	transition: font-size 0.3s ease;
}
#faqlink:hover, #faqlink:focus, #faqlink.active{
	color: #CC313D;
	font-size: 20px;
}
.faq-category{
	margin-left: 12%;
	margin-bottom: -3%;
	margin-top: 4%;
	display: flex;
	width: 50%;
	justify-content: left;
	font-weight: bolder;
	
}
.imageicon{
	height: 30px;
}
#hiddencontent{
	background-color: rgb(220, 227, 230);
}
#separator{
	width: 100%;
	background-color: rgb(144, 163, 165);
	height: 1px;
	
}