<div class="container" id="page1">
  <app-navbar></app-navbar>

<div class="container-fluid">


    <!--
firmwareVersion
: 
"V1.0.0"
model
: 
"TP_link"
planID
: 
3
routerID
: 
3
serialNumber
: 
"22034F5000440"
ssid
: 
"Batman's Cave2"
add plan name later
    -->
    <div class="plancard" *ngFor="let j of rout">
        <div class="card" style="width: 22rem;">
            <div class="card-body">
              <div class="card-title">
                <img height="90px" style="margin-left: 5px; margin-top: 5px;" src="/assets/images/routerimg.jpg">
                <h5 style="display: inline-block; font-size: 24px; font-weight: bold">{{j.model}} </h5>
            </div>
            <div class="routerdesc">
            <div class="router-details">
                <h5 class="card-text" style="margin-bottom: 3px; font-size: 18px;">{{j.planName}}</h5>
                    <p class="card-text" style="margin-bottom: 3px; ">{{j.ssid}}</p>
                    <p class="card-text" style="margin-bottom: 3px; ">{{j.serialNumber}}</p>
                    <p class="card-text" style="margin-bottom: 3px; ">{{j.firmwareVersion}}</p>
            </div>
        </div>
        <a style="text-decoration: none;" href="/routerpage#contentsection"><button (click)="displayconfig(j)"  class="paybtn">CONFIGURE</button></a>
            </div>
          </div>
    </div>

    <ng-container *ngIf="showdescription">
        <!-- <div class="description"> -->
        <!---->
<section class="profilebox" id="contentsection">
  <a id="closebtn" (click)="closeform()" style="position: absolute; height: 20px; right: 5%; margin-top: 15px; cursor: pointer; z-index: 1;"><img style=" height: 20px;" src="/assets/images/cancelbtn.png"></a>
    <div class=" profile-left">
<form [formGroup]="routerform" (ngSubmit)="onsubmit()">
    <div class="input-row">
        <div class="input-group">
            <label>SSID</label>
            <input type="text" formControlName="ssid" placeholder="SSID" [(ngModel)]="ng.ssid" >        
            <small *ngIf="routerform.controls['ssid'].dirty && routerform.hasError('required','ssid')" class="text-danger">!</small>          
            </div>
        <div class="input-group"> 
            <label style="display: block;">PASSWORD</label>
            <input [type]="show? 'text' : 'password'" formControlName="password" placeholder="Password" [(ngModel)]="ng.password" >
            <a (click)="onClick()" style="display: inline-block; cursor: pointer;">
              <i class="fa fa-eye" aria-hidden="true" *ngIf="!show" style="display: inline-block; margin-top:13px; position: absolute; right: 10%;"></i>
              <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show" style="display: inline-block;margin-top:13px; position: absolute; right: 10%;"></i>
            </a>
            <small style="display: block;" *ngIf="routerform.controls['password'].dirty && routerform.hasError('required','password')" class="text-danger">!</small> 
        </div>
        <div class="input-group"> 
            <label style="display: block;">IPV4</label>
            <input type="text" placeholder="ipv4" formControlName="ipv4" [(ngModel)]="ng.ipv4">
            <small *ngIf="routerform.controls['ipv4'].dirty && routerform.hasError('required','ipv4')" class="text-danger"><small>!</small></small>
            <!-- <ng-container *ngIf="routerform.controls['ipv4'].invalid && routerform.controls['ipv4'].touched; else elseblock"  class="text-danger"><small>Invalid</small></ng-container>
            <ng-template #elseblock="routerform.controls['ipv4'].dirty && routerform.hasError('required','ipv4')" class="text-danger"><small  style="display: block;">*Invalid ipv4</small> </ng-template> -->
        </div>
        
    </div>
        <div class="input-row">
        <div class="input-group">
            <label>FIRMWARE</label>
            <select name="firmware" id="firmware" formControlName="firmware" [(ngModel)]="ng.firmwareVersion">
                <option style="font-weight: 300; font-size: 15px;" value="V1.0.0">V1.0.0</option>
                <option style="font-weight: 300; font-size: 15px;" value="V1.1.0">V1.1.0</option>
                <option style="font-weight: 300; font-size: 15px;" value="V2.1.0">V2.1.0</option>                
                <option style="font-weight: 300; font-size: 15px;" value="V2.1.1">V2.1.1</option>
                <option style="font-weight: 300; font-size: 15px;" value="V2.1.2">V2.1.2</option>
            </select>
            </div>
        <div class="input-group">
            <label>SERIAL NUMBER</label>
            <input type="text" formControlName="serialNumber" placeholder="Serial Number"  [(ngModel)]="ng.serialNumber" readonly>
            <small style="display: block;" *ngIf="routerform.controls['serialNumber'].dirty && routerform.hasError('required','serialNumber')" class="text-danger">!</small>
    </div>
    <div class="input-group"> 
        <label style="display: block;">MODEL NAME</label>
        <input type="text" formControlName="modelName" placeholder="Model name" readonly [(ngModel)]="ng.model" >
    </div>
    </div>
    <button type="submit" id="updatebtn" (click)="updaterouter()">UPDATE</button>
</form>
</div>
</section>
<div class="display" style="padding-bottom: 70px;">
<!-- <button id="listbtn">Connected</button>
<button id="listbtn">Blocked</button> -->
<div class="select-dropdown">
<p>Select a router type</p>
      <select #teams (change)="onSelected(teams.value)" style="width: 300px; font-size: 15px; font-weight: 300;"  [(ngModel)]="selectedItem">
            <option default style="font-weight: 300;">select</option>
            <option style="font-weight: 300;">Available</option>
            <option style="font-weight: 300;">Blocked</option>
        </select>
    </div>
</div>
<!-- </div> -->

<section id="viewtable" style="height: 250px;">
<ng-container *ngIf="showavailable==true && showblocked==false">
  <app-mattable></app-mattable>
  <!-- <table mat-table [dataSource]="planlist" class="mat-elevation-z8">

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model </th>
      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>
  
    <ng-container matColumnDef="ssid">
      <th mat-header-cell *matHeaderCellDef> SSID </th>
      <td mat-cell *matCellDef="let element"> {{element.ssid}} </td>
    </ng-container>
  
    <ng-container matColumnDef="plan">
      <th mat-header-cell *matHeaderCellDef> PLAN </th>
      <td mat-cell *matCellDef="let element"> {{element.planName}} </td>
    </ng-container>
  

    <ng-container matColumnDef="firmwareVersion">
      <th mat-header-cell *matHeaderCellDef> FIRMWARE </th>
      <td mat-cell *matCellDef="let element"> {{element.firmwareVersion}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->
</ng-container>
<ng-container *ngIf="showavailable==false && showblocked==true">
  <app-blockedtable></app-blockedtable>
</ng-container>
</section>

</ng-container>

</div>
</div>
