

html{
	scroll-behavior: smooth;
	scroll-timeline: 2;
}
*
{
	scroll-behavior: smooth;
	/* font-family: 'Poppins', sans-serif;  */
}
#cont
{
    /* min-height: 100vh; */
    /* min-width: 100%; */
    background-size: cover;
    background-position: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;	
}
.navbar
{
	background:  rgb(220, 224, 235);
	backdrop-filter: blur(3px);
	opacity: 0.9;
	position: fixed;
	box-shadow: 10px 3px 15px black;
}
.navbar-brand
{
    padding: 5px;
	color: black;
}
.navbar-toggler-icon
{
	border-color: aqua;
}
ul
{
    padding: 3px;
}
li a, .dropbtn{
	text-decoration: none;
	font-size: 15px;
	color: black;
	transition: transform;
	transition-duration: 0.25s;
	padding-left: 0;
	
}
li a:hover
{
	transform: scale(1.1);
	transition-delay: 0.5s;
	transition-duration: 0.5s;
}

li a::after{
	content: '';
	background: #ff543c;
	width: 0%;
	height: 2px;
	display: block;
	transition-delay: 0.3s;
	transition-duration: 0.5s;
}

li a:hover::after{
	width: 100%;
}

  
  .dropdown {
	position: relative;
	/* display: inline-block; */
	float: none;
	
  }
  .dropdown:hover
  {
	cursor: pointer;
  }
  .dropbtn
  {
	margin-top: 8px;
  }
  
  .dropdown-content {
	display: none;
	float: right;
	position: absolute;
	background:  rgb(201, 209, 233);
	/* backdrop-filter: blur(33px); */
	/* opacity: 0.8; */
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;

  }
  
  .dropdown-content a {
	color: rgb(0, 0, 0);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	transition-duration: 0.25s;
	transition-delay: 0.15s;
  }
  
  .dropdown-content a:hover {
	background-color:black; 
	color: whitesmoke;
	transform: translate(3%,-5%);
}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:active .dropdown-content {display: block;}


.content 
{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    max-width: 100%;
    margin-top: 35px;
}
.plandiv
{
    margin: 0;
    padding: 0;
    /* position: relative; */
    margin-top: 95px;
    min-height: 100vh;
}
.plancard
{
    display: inline-block;
    margin-top: 95px;
    /* position: absolute; */
    /* box-sizing: border-box; */
}
.card{
    border-radius: 20px;
    display: inline-block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 20px;
    /* height: 100%; */
    height: 248px;
    transition-duration: 0.25s;
    box-shadow: 3px 1px 4px gray;
    
   
}
.card:hover
{
    cursor: pointer;
    transform: translateY(-15px);
}
.dailyusage
{
    display: block;
}
.plandetails
{
    margin-top: 20px;
    padding-top: 10px;
}
#plancarddetails h5 
{
    margin-bottom: 1px;
    font-size: 33px;
    font-weight: bold
}
#plancarddetails p
{
    font-size: 14px;
    margin-top: 2px;
}
#activeplanhead
{
    text-align: center;
    margin-top: 90px;
    font-size: 30px;
}
.plancard2
{
    display: inline-block;
}
.plan-benefits
{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 10px;
    /* justify-content: center; */
}
.benefit-icons
{
    display: inline-block;
    flex-basis: 30px;
}
.benefit-icons img
{
 min-height: 20px;
 width: 20px;
}
.benefit-desc
{
    flex-basis: 1;
    width: 100%;
}
.benefit-desc p
{
    margin-bottom: 0;
}
.paybtn 
{
    width: 115px;
    height: 35px;
    margin-left: 30%;
    /* margin-top: 15px; */
    /* margin-bottom: -1px; */
    border: none;
    position: absolute;
    bottom: -15px;
    border-radius: 30px;
    background-color: rgb(14, 22, 25);
    color: rgba(59, 196, 164, 0.747);
    /* margin-top: 10px; */
    transition-duration: 0.5s;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 5px 5px 5px rgb(143, 148, 166);
    padding: 5px;
}
.paybtn:hover, .paybtn a:hover
{
    color: black;
    background-color: rgb(49, 180, 137);
}
.profilebox
 {
    display: relative flex;
    border: 0.5px solid;
    border-color: rgb(195, 202, 205);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin: 20px;
 }
 .profile-left
 {
    flex-basis: 1;
    padding: 40px 20px;
    opacity: 0.8;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: start;

 }

.input-row
{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 30px;
}
.input-row .input-group
{
    flex-basis: 45%;
    margin-top: 20px;
    margin-right: 40px;
}
input, select, option{
    margin-top: 5px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
    padding-top: 8px;
    color: rgb(42, 41, 41);
    display: block;
}
label{
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
    color: #172722;
}
h1{
    margin-bottom: 24px;
}
p{
    font-weight: 250;
    margin-bottom: 25px;
}
h5{
    font-weight: 300;
    margin-top: 5px;
}
#updatebtn
{
    right: 0; position: absolute; margin-right: 25%;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color: black;
    color: rgb(49, 180, 137);
    margin-top: 10px;
    transition-duration: 0.5s;
}
#updatebtn:hover
{
    color: black;
    background-color: rgb(49, 180, 137);
    transform: translateY(-5px);
}
#listbtn
{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color: black;
    color: rgb(49, 180, 137);
    margin-top: 2px;
    transition-duration: 0.5s;
}
#listbtn:hover
{
    color: black;
    background-color: rgb(49, 180, 137);
    transform: translateY(-5px);
}
.display
{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.select-dropdown
{
    display: flex;
    align-items: end;
    justify-content: center;
}
.select-dropdown p{
    margin-bottom: 5px;
    margin-right: 15px;
}
.routerdesc 
{
    display: flex;
    justify-content: center;
}
.router-details h5 
{
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}
.router-details p 
{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.router-list
{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (min-width: 760px) {
    #page {
        width: 100%;
    }
 }
 
 @media only screen and (max-width: 760px) {
    #page {
        overflow: hidden;
    }
 }

