<div class="container-fluid">
  <div class="row"> 
    <!-- <div class="col-md-7"> -->
      <div id="col1" class="col-md-5 col-lg-6 col-sm-0 col-xs-0">
        <img id="loginimage" src="/assets/images/undraw_login1.png">
    </div>
  <div id="col2" class=" col-lg-6">
    <div class="panel border"  style= "margin-left: 30px;">
      <div class="panel-heading">
        <h3 class="pt-3 font-weight-bold" style="color: black;font-size: 24px;">FORGOT PASSWORD</h3>
      </div>
      <div class="panel-body p-3">
          <form [formGroup]="forgotpwd" (ngSubmit)="onsubmit()">
              <div class="form-group pt-3">
                <div class="input-field" [class.error]="forgotpwd.controls['mobile'].dirty && forgotpwd.hasError('required','mobile')">
                  <span class="fa fa-user p-2"></span>
                  <input  type="text" id="mobile" name="mobile" class="form-control" placeholder="Phone number (add +91)" ng-model="mobile" required>
              </div>
          </div>
          <small *ngIf="forgotpwd.controls['mobile'].dirty && forgotpwd.hasError('required','mobile')" class="text-danger">*Mobile number is required</small>
          <button type="submit" class="btn btn-outline-primary mt-4 w-100">SEND OTP</button> 
        
          </form>
      </div>
  
</div>
