
<div class="container" id="page">
<app-navbar></app-navbar>
  
  <!-- <div class="container-fluid"> -->
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner"  id="topcarousel">
      <div class="carousel-item" data-bs-interval="4000"  id="topcarouselitem">
        <!-- <div class="carousel-caption">
          <h1>WE ARE ONE OF THE WORLD'S TOP SELF SERVICE WEBSITE</h1>
        </div> -->
        <video class="d-block w-100" [muted]="'muted'" autoplay loop><source src="assets/images/BG.mp4" type="video/mp4"  style="width: 100%;"></video>
        <div class="carousel-caption">
          <button id="knowmore" routerLink="/faq">QUERY</button>
        </div>
      </div>
      <div class="carousel-item active" id="topcarouselitem">
        <video class="d-block w-100" [muted]="'muted'" autoplay loop><source src="assets/images/carouselvideo2.mp4" type="video/mp4" style="width: 100%;"></video>
        <div class="carousel-caption">
          <button id="myplan" routerLink="/routerpage">MY ROUTER</button> 
        </div>
      </div>
      <div class="carousel-item" id="topcarouselitem">
        <video class="d-block w-100" [muted]="'muted'" autoplay loop><source src="assets/images/carousel3video.mp4" type="video/mp4"  style="width: 100%;"></video>
        <div class="carousel-caption">
          <button id="paybtn" routerLink="/plans">PAY</button> 
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!-- </div> -->

<section id="about">
  <h1 id="abthead">
    WHAT WE PROVIDE?
  </h1>
  <div class="bgrow" >
  <div class="row1" id="abt" data-aos="fade-up" data-aos-once="false">
        <img src="/assets/images/abtbg1.jpg" id="abtimg">
        <div id="abtcontent">
          <h1>
            Easily manage your data services</h1>
        <p >
          Now manage your data services with ease. Get real-time usage details, manage your account, set up payment, and do much more.
        </p>
        </div>
    </div>
  </div>
    <div class="row1" id="abt" data-aos="fade-up" data-aos-once="false">
      <div id="abtcontent">
        <h1>
          Managing your router is just few taps away</h1>
      <p >
       View and configure your router based on your needs. Add, remove, block and unblock devices connected to your router. Enjoy seamless internet experience. 
      </p>
      </div>
      <img src="/assets/images/routerimg.avif" id="abtimg">
  </div>
  <div class="bgrow">
  <div class="row1" id="abt" data-aos="fade-up" data-aos-once="false">
    <img src="/assets/images/abtbg4.jpg" id="abtimg">
    <div id="abtcontent">
      <h1>
        Pay your bills anytime, anywhere</h1>
    <p >
      A 24/7 service where user can process payment anywhere at anytime to avoid interruptions. Read our FAQs to know more information about payment.
    </p>
    </div>
</div>
</div>
<h1 id="abthead">ABOUT PORTAL</h1>
<div class="container app-desc" data-aos="fade-up" data-aos-once="false">
<ul ><li style="list-style-type: square">Serves as a simple and easy design for self-care and customer support.</li>
  <li style="list-style-type: square">Gives users the ability to monitor their account balance and recharge plan validity, link and manage multiple accounts, login and utilize app to purchase multiple plans.</li>
 <li style="list-style-type: square"> Provides consumers with assistance and support by way of FAQs, useful hints, and troubleshooting tools.</li> 
</ul>
</div>
</section>


<!-- <section id="review">
	<h1 id="reviewhead">
		CUSTOMER REVIEWS
	</h1>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner"  id="reviewcarousel">
    <div class="carousel-item active" data-bs-interval="4000"  id="reviewcarouselitem">
      <div class="col2">
        <img src="assets/images/reviewer1.jpg">
        <div class="rate">
          <p>I like the most about them is their customer service, It's simply great. Also it's connection is more stable then any other service providers that I have tried before.</p>
          <h3>Sam</h3>
        </div>
      </div>
    </div>
    <div class="carousel-item" id="reviewcarouselitem">
      <div class="col2">
        <img src="assets/images/reviewer2.avif">
        <div class="rate">
          <p> I personally recommend it over others because of several reasons. The great customer support is one of them. They offer their customers, a seamless experience with good network connectivity, which is a crucial thing in today's world.</p>
          <h3>Vinusha</h3>
        </div>
      </div>
    </div>
    <div class="carousel-item" id="reviewcarouselitem">
      <div class="col2">
        <img src="assets/images/reviewer3.avif">
        <div class="rate">
          <p> It has been a good or satisfactory experience overall. They provide one of the best customer service. Query resolution time is quick and is quite transparent. </p>
          <h3>John</h3>
        </div>
      </div>
    </div>
  </div>
</div>
</section> -->

<h1 id="reviewhead">
  CONTACT US
</h1>
<section id="contactus">
    <p style="line-height: 30px;"> Here are the most frequently asked queries<br> by our customers. </p>
    <button class="faq" routerLink="/faq">FAQ</button>
</section>
</div>

