*
{
    font-family: 'Montserrat', sans-serif;
}
.container 
{
    width: 90%; padding-bottom: 100px;
}
table
{
    background-color: rgb(199, 209, 214); border-radius: 10px;
}
.blockbtn 
{
    border: none; border-radius: 10px; width: 100px; height: 30px;
    transition-duration: 0.25s;
    transition-delay: 0.15s;
}
.blockbtn:hover
{
    background-color: black;
    color: white;
}
.deletebtn 
{
    height: 25px; margin: 15px;
}
.columnclass 
{
    color: black;
}
.deletebtn 
{
    padding: 3px;
    transition-duration: 0.25s;
    transition-delay: 0.15s;
}
.deletebtn:hover
{
    border-radius: 10px;
    border: none;
    background-color: whitesmoke;
}
@media only screen and (min-width: 760px) {
    #page {
        width: 100%;
    }
 }
 
 @media only screen and (max-width: 760px) {
    #page {
        overflow: hidden;
    }
 }