<div class="container">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="deviceId" class="columnclass">
      <th class="columnclass" mat-header-cell *matHeaderCellDef> DEVICE ID </th>
      <td class="columnclass" mat-cell *matCellDef="let element"> {{element.deviceId}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="mac" class="columnclass">
      <th class="columnclass" mat-header-cell *matHeaderCellDef> MAC </th>
      <td class="columnclass" mat-cell *matCellDef="let element"> {{element.mac}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="deviceType" class="columnclass">
      <th class="columnclass" mat-header-cell *matHeaderCellDef> DEVICE TYPE </th>
      <td class="columnclass" mat-cell *matCellDef="let element"> {{element.deviceType}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="connectedDevice">
      <th mat-header-cell *matHeaderCellDef> connectedDevice </th>
      <td mat-cell *matCellDef="let element"> {{element.connectedDevice}} </td>
    </ng-container>

    <ng-container matColumnDef="isBlocked">
      <th mat-header-cell *matHeaderCellDef> isBlocked </th>
      <td mat-cell *matCellDef="let element"> {{element.isBlocked}} </td>
    </ng-container> -->
  
    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="ipv4">
      <th mat-header-cell *matHeaderCellDef> ipv4 </th>
      <td mat-cell *matCellDef="let element"> {{element.ipv4}} </td>
    </ng-container> -->

    <ng-container matColumnDef="blockdetails">

        <th mat-header-cell *matHeaderCellDef>  </th>

        <td mat-cell *matCellDef="let i = index">

        <button mat-raised-button color="none" (click)="blockRecord(i)" class="blockbtn">Block</button> </td>

    </ng-container>

    <ng-container matColumnDef="deldetails">

      <th mat-header-cell *matHeaderCellDef>  </th>

      <td mat-cell *matCellDef="let i = index">

      <a (click)="deleteRecord(i)" style="cursor: pointer;"><img src="/assets/images/deleteicon.png" class="deletebtn"></a> </td>

  </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  
  