<!-- <div class="container-fluid" style="align-items: center; height: 100%;">
<form>
    <div class="panel border" style="width: 500px; margin-top: 80px; margin-left: 300px;">
    <fieldset class="col-md-12">
        <legend>PROFILE</legend>
        <div class="form-group">
            <label>NAME</label>
            <input type="text" id="profiletxt"  [(ngModel)]="setprofile.name"   style="width: 300px; margin-left: 50px;">
            <label>EMAIL</label>
            <input type="text" id="profiletxt" [(ngModel)]="setprofile.email"  style="width: 300px; margin-left: 50px">
            <label>MOBILE NUMBER</label>
            <input type="text" id="profiletxt" [(ngModel)]="setprofile.mobile"  style="width: 300px; margin-left: 50px">
            <label>ACCOUNT NUMBER</label>
            <input type="text" id="profiletxt" [(ngModel)]="setprofile.acctno" style="width: 300px; margin-left: 50px">

            </div>
        </fieldset>
    </div>
</form>
</div>


 -->

 <div class="container-fluid" id="cont">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light" >
        <div class="container-fluid">
          <a class="navbar-brand">S E L F - S E R V I C E</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item px-3">
                <a class="nav-link" routerLink="/home" aria-current="page">HOME</a>
                <router-outlet></router-outlet>
              </li>
              <li class="nav-item px-3">
                <a class="nav-link" href="#">PLANS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link px-3" href="/home#about">ABOUT US</a>
              </li>
              <li class="nav-item px-3">
                <a routerLink="/profile" class="nav-link active" href="#">PROFILE</a>
              </li>
              <a class="navbar-brand px-3" href="#"><svg xmlns="http://www.w3.org/2000/svg" height="1.25em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#235286}</style><path d="M399 384.2C376.9 345.8 335.4 320 288 320H224c-47.4 0-88.9 25.8-111 64.2c35.2 39.2 86.2 63.8 143 63.8s107.8-24.7 143-63.8zM0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm256 16a72 72 0 1 0 0-144 72 72 0 1 0 0 144z"/></svg></a>
            </ul>
          </div>
        </div>
      </nav>
      </div>

<div class="container-fluid" id="full">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

 <div class="container" id="minicont">
    <h1>HELLO {{profileusers.name}}!</h1>

    <div class="profilebox">
        <div class="col-md-8 col-lg-9 profile-left">
            <h5>My Profile &check;</h5>
            <form>
            <div class="input-row">
                <div class="input-group">
                    <label>Name</label>
                    <input type="text" placeholder="Name" [(ngModel)]="profileusers.name" [ngModelOptions]="{standalone:true}" disabled>                  
                    </div>
                <div class="input-group">  
                    <label>Email</label>
                    <input type="text" placeholder="Email"  [(ngModel)]="profileusers.email" [ngModelOptions]="{standalone:true}" disabled>
                </div>
            </div>
                <div class="input-row">
                <div class="input-group">
                    <label>Mobile Number</label>
                    <input type="text" placeholder="Mobile Number" [(ngModel)]="profileusers.phonenumber" [ngModelOptions]="{standalone:true}" disabled>
                    </div>
                <div class="input-group">
                    <label>Account Number</label>
                    <input type="text" placeholder="Account Number" [(ngModel)]="profileusers.accountNumber" [ngModelOptions]="{standalone:true}" disabled>
            </div>
            </div>
        </form>
        </div>
        <div class=" col-md-4 col-lg-3 col-sm-0 profile-right">
            <img src="/assets/images/check.jpg" width="90%" height="100%">
        </div>
    </div>
 </div>
</div>
