<div class="container-fluid" style="align-items: center; height: 100%;">
<form>
    <div class="panel border" style="width: 500px; margin-top: 80px; margin-left: 300px;">
    <fieldset class="col-md-12">
        <legend>PROFILE</legend>
        <div class="form-group">
            <label>NAME</label>
            <input type="text" id="profiletxt"  [(ngModel)]="setprofile.name"   style="width: 300px; margin-left: 50px;">
            <label>EMAIL</label>
            <input type="text" id="profiletxt" [(ngModel)]="setprofile.email"  style="width: 300px; margin-left: 50px">
            <label>MOBILE NUMBER</label>
            <input type="text" id="profiletxt" [(ngModel)]="setprofile.mobile"  style="width: 300px; margin-left: 50px">
            <label>ACCOUNT NUMBER</label>
            <input type="text" id="profiletxt" [(ngModel)]="setprofile.acctno" style="width: 300px; margin-left: 50px">

            </div>
        </fieldset>
    </div>
</form>
</div>



