<!-- <div class="container-fluid" style="align-items: center; height: 100%;">
<form>
    <div class="panel border" style="width: 500px; margin-top: 80px; margin-left: 300px;">
    <fieldset class="col-md-12">
        <legend>PROFILE</legend>
        <div class="form-group">
            <label>NAME</label>
            <input type="text" id="profiletxt"  [(ngModel)]="setprofile.name"   style="width: 300px; margin-left: 50px;">
            <label>EMAIL</label>
            <input type="text" id="profiletxt" [(ngModel)]="setprofile.email"  style="width: 300px; margin-left: 50px">
            <label>MOBILE NUMBER</label>
            <input type="text" id="profiletxt" [(ngModel)]="setprofile.mobile"  style="width: 300px; margin-left: 50px">
            <label>ACCOUNT NUMBER</label>
            <input type="text" id="profiletxt" [(ngModel)]="setprofile.acctno" style="width: 300px; margin-left: 50px">

            </div>
        </fieldset>
    </div>
</form>
</div>


 -->
<div class="container-fluid" id="full">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

 <div class="container" id="minicont">
    <h1>HELLO USER!</h1>
    <p>Your personal details shared with us are more confidential. Feel free to get in touch with us</p>
    <div class="profilebox">
        <div class="profile-left">
            <h5>My Profile &#9989;</h5>
            <form>
            <div class="input-row">
                <div class="input-group">
                    <label>Name</label>
                    <input type="text" id="profilename" placeholder="Name"  disabled>
                    </div>
                <div class="input-group">  
                    <label>Email</label>
                    <input type="text" id="profileemail"  disabled>
                </div>
            </div>
                <div class="input-row">
                <div class="input-group">
                    <label>Mobile Number</label>
                    <input type="text" id="profilemobile"  disabled>
                    </div>
                <div class="input-group">
                    <label>Account Number</label>
                    <input type="text" id="profileacct" disabled>
            </div>
            </div>
        </form>
        </div>
        <div class="profile-right">
            <h4>description</h4>
        </div>
    </div>
 </div>
</div>
