html{
	scroll-behavior: smooth;
	scroll-timeline: 2;
}
*
{
	scroll-behavior: smooth;
	/* font-family: 'Poppins', sans-serif;  */
}
#cont
{
    /* min-height: 100vh; */
    /* min-width: 100%; */
    background-size: cover;
    background-position: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;	
}
.navbar
{
	background:  rgb(220, 224, 235);
	backdrop-filter: blur(3px);
	opacity: 0.9;
	position: fixed;
	box-shadow: 10px 3px 15px black;
}
.navbar-brand
{
    padding: 5px;
	color: black;
}
.navbar-toggler-icon
{
	border-color: aqua;
}
ul
{
    padding: 3px;
}
li a, .dropbtn{
	text-decoration: none;
	font-size: 15px;
	color: black;
	transition: transform;
	transition-duration: 0.25s;
	padding-left: 0;
	
}
li a:hover
{
	transform: scale(1.1);
	transition-delay: 0.5s;
	transition-duration: 0.5s;
}

li a::after{
	content: '';
	background: #ff543c;
	width: 0%;
	height: 2px;
	display: block;
	transition-delay: 0.3s;
	transition-duration: 0.5s;
}

li a:hover::after{
	width: 100%;
}

  
  .dropdown {
	position: relative;
	/* display: inline-block; */
	float: none;
	
  }
  .dropdown:hover
  {
	cursor: pointer;
  }
  .dropbtn
  {
	margin-top: 8px;
  }
  
  .dropdown-content {
	display: none;
	float: right;
	position: absolute;
	background:  rgb(201, 209, 233);
	/* backdrop-filter: blur(33px); */
	/* opacity: 0.8; */
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;

  }
  
  .dropdown-content a {
	color: rgb(0, 0, 0);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	transition-duration: 0.25s;
	transition-delay: 0.15s;
  }
  
  .dropdown-content a:hover {
	background-color:black; 
	color: whitesmoke;
	transform: translate(3%,-5%);
}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:active .dropdown-content {display: block;}

 
/* .plandiv
{
    margin: 0;
    padding: 0;
    
    margin-top: 95px;
    min-height: 100vh;
} */
#plandiv
{
  margin: 0;
  padding: 0;
}
.plancard
{
    display: inline-block;
    margin-top: 95px;
    /* position: absolute; */
    /* box-sizing: border-box; */
}
.card{
  border-radius: 20px;
  display: inline-block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 20px;
  /* height: 100%; */
  height: 220px;
  transition-duration: 0.25s;
  box-shadow: 3px 1px 4px gray;
  
 
}
.card:hover
{
  cursor: pointer;
  /* transform: translateY(-15px); */
}
.plannamediv
{
    width: 100%;
    height:20%;
}
.planname
{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid;
    width: 40%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #4784b5;
    text-align: center;
}
.planname p 
{
  margin-top: 4px;
}

.dailyusage
{
    display: block;
}
.plandetails
{
    margin-top: 20px;
    padding-top: 10px;
}
#plancarddetails h5 
{
    margin-bottom: 1px;
    font-size: 33px;
    font-weight: bold
}
#plancarddetails p
{
    font-size: 14px;
    margin-top: 2px;
}
#activeplanhead
{
    text-align: center;
    margin-top: 90px;
    font-size: 30px;
}
.plancard2
{
    display: inline-block;
}
.plan-benefits
{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 10px;
    /* justify-content: center; */
}
.benefit-icons
{
    display: inline-block;
    flex-basis: 30px;
}
.benefit-icons img
{
 min-height: 20px;
 width: 20px;
}
.benefit-desc
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 1;
  width: 100%;
}
.benefit-desc p
{
    margin-bottom: 0;
    color: black
}
#separator
{
  height: 0.5px;
  width: 100%;
  background-color: rgb(190, 196, 213);
  margin-top: 10px;
  margin-bottom: 10px;
}
#popupcardtitle
{
 margin: 30px;
}
#popupcardtitle p
{
  font-weight: lighter;
  color: red;
}
#benefitsheader
{
  background-color: rgb(237, 237, 237);
}
#exampleModal
{
  position: fixed;
}
.modalcontent 
{
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}


.paybtn 
{
    width: 115px;
    height: 35px;
    /* margin-top: 15px; */
    /* margin-bottom: -1px; */
    position: absolute;
    bottom: 5%;
    left: 28%;
    border-radius: 30px;
    border: 1px solid;
    border-color: rgb(7, 96, 135);
    /* background-color: rgb(105, 157, 174); */
    /* margin-top: 10px; */
    transition-duration: 0.5s;
    font-size: 15px;
    font-weight: 30%;
    font-family: 'Poppins', sans-serif;
    box-shadow: 5px 5px 5px rgb(137, 145, 174);
    color: rgb(232, 235, 240);
    background-color: rgb(16, 127, 212);
    padding: 5px;
}
.paybtn:hover, .paybtn a:hover
{
  transform: translateY(-10px);
  background-color: whitesmoke;
  color: rgba(4, 6, 8, 0.747);
}

#bgcard
{
  position: relative;
}
#historycard
{
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 110px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.card-title1
{
  display: flex;
  width: 15%;
  height: 90px;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgb(138, 138, 193);
  align-items: center;
  justify-content: center;
}
.card-desc
{
  flex:1;
  padding: 20px;
}
.scrollablehistory
{
  height: 400px;
  overflow-y: auto;
  align-items: center;
  box-shadow: 3px 1px 5px;
  background-color: rgb(245, 246, 246); 
  margin-left: 10%;
  width: 80%;
  margin-bottom: 0;
}
.historysection
{
  
  position: absolute;
  width: 100%;
  align-items: center;
  margin-bottom: 0;
}
#historycard
{
  left: 10%;
}
.dropdown1
{
  margin-left: 40%;
}

@keyframes glowing {
  0% {
    background-color: #a83305;
    box-shadow: 0 0 5px #a83305;
  }
  50% {
    background-color: #a83305;
    box-shadow: 0 0 20px #a83305;
  }
  100% {
    background-color: #a83305;
    box-shadow: 0 0 5px #a83305;
  }
}
.blink {
  animation: glowing 1300ms infinite;
}

@media only screen and (min-width: 760px) {
  #page {
    width: 100%;
  }
}

@media only screen and (max-width: 760px) {
  #page {
    overflow: hidden;
  }
}