<div class="container" id="page">
<app-navbar></app-navbar>
<div class="container-fluid" id="plandiv">
  <div class="dailyusage">
    <div *ngIf="show">
  <div class="plancard" *ngFor="let i of plans">
      {{setuseddata(i.dataLimit,i.dataUsed)}}
    
      <div class="card" style="width: 20rem;">
          <div class="card-body">
            <div class="card-title">
            <h1 style="display: inline-block; font-weight: bold; font-family: Arial, Helvetica, sans-serif;">{{dataLeft}} GB </h1><p style="display: inline-block; font-size: 15px; position: absolute; right: 5%;">left of {{i.dataLimit}}</p></div>
            <div class="progress" style="height: 16px; margin-top: 5px; border-radius: 20px;">
              <ng-container *ngIf="unused>23.0; else elseblock" >
              <div 
                class="progress-bar"
                role="progressbar"
                attr.aria-valuenow="{{unused}}"
                [ngStyle]="{width: used+ '%' }"
                aria-valuemin="0"
                aria-valuemax="100"
                style="background-color: black;"
              > 
                
              </div>
            </ng-container>
              <ng-template #elseblock>
              <div 
                class="progress-bar bg-danger"
                role="progressbar"
                attr.aria-valuenow="{{unused}}"
                [ngStyle]="{width: used+ '%', 'transition': 'width 1s ease'}"
                aria-valuemin="0"
                aria-valuemax="100"
                style="background-color: black;"
              >
                
              </div>
            </ng-template>
            </div>
            <a href="#"  style="display: inline-block; position: absolute; margin-top: 7px; text-decoration: none;" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="dummy(i)"><p style="font-size: 12px; display: inline-block;">View details</p>&nbsp;<img src="/assets/images/infoicon.png" style="height: 14px; margin-top: -1px; display: inline-block;"> </a>
            <!-- <p  style="margin-left: 55%; font-size: 13px; margin-top: 5px;">{{i.duration}} days</p> -->
            <!-- <div *ngIf="i.dayLeft < 0 && i.dayLeft>-5"> <p style="margin-left: 55%; font-size: 13px; margin-top: 5px;">{{i.dayLeft*(-1)}} days exceeded</p></div> -->
            <!-- <div *ngIf="i.dayLeft <= -5" ><p style="margin-left: 55%; font-size: 13px; margin-top: 5px;">Service expired</p></div> -->

            
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="border-radius: 10px;">
                  <!-- <div class="modal-header"> -->

                    <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; top: -30px; right: -25px;border: 1px solid; padding: 15px; border-radius: 30px;"></button>
                  <!-- </div> -->
                  <div class="modal-body" style="padding: 30px;">
                    <!-- <div class="plandetails"> -->
                      <div class="modalcontent">
                                <div id="popupcardtitle" class="card-title" id="plancarddetails" style="text-align: center; display: flex; justify-content: center;"><p *ngIf="popobj?.planName=='Standard Plan'" style="display: inline-block; font-size: 50px; color: rgb(37, 139, 190);">&#8377; {{popobj?.price}}  &nbsp; </p>
                                  <p *ngIf="popobj?.planName=='Premium Plan'" style="display: inline-block; font-size: 50px; color: rgb(70, 82, 178);">&#8377; {{popobj?.price}}  &nbsp; </p>
                                  <p *ngIf="popobj?.planName=='Business Plan'" style="display: inline-block; font-size: 50px; color: rgb(39, 207, 210);">&#8377; {{popobj?.price}}  &nbsp; </p>
                                  <p *ngIf="popobj?.planName=='Basic Plan'" style="display: inline-block; font-size: 50px; color: rgb(220, 46, 46);">&#8377; {{popobj?.price}}  &nbsp; </p>

                                  <p style="display: inline-block; font-size: 18px;">/ {{popobj?.duration}} days</p></div>
                                  <!-- <h4 style="display: inline-block;" >Plan ID: {{popobj?.planId}}</h4><input type="text" style="display: inline-block;  width: 60px; background-color: rgb(255, 255, 255); border: none; margin-left: 3px;" disabled> -->
                                  <!-- <h4 style=" position: relative; right: 1%;  display: block;"> {{popobj?.planName}}</h4> -->
                                <p id="benefitsheader" style="margin-bottom: 15px; font-weight: bold; padding-top: 5px; padding-bottom: 5px; padding-left: 5px;">BENEFITS</p>
  
                                <div class="plan-benefits">
                                  <div class="benefit-icons">
                                      <img src="/assets/images/signal.png">
                                  </div>
                                  <div class="benefit-desc" style="font-weight: 20px;">
                                    <p>Data Rollover</p>
                                      <p>{{popobj?.dataAllowance}}</p>
                                  </div>
                            </div>
                            <div class="modal-footer"></div>
                            <div class="plan-benefits">
                              <div class="benefit-icons">
                                  <img src="/assets/images/speed.png">
                              </div>
                              <div class="benefit-desc">
                                <p>Plan type</p>
                                  <p>{{popobj?.planType}}</p>
                              </div>
                        </div>
                        <div class="modal-footer"></div>
                                <div class="plan-benefits">
                                      <div class="benefit-icons">
                                          <img src="/assets/images/phone.png">
                                      </div>
                                      <div class="benefit-desc">
                                        <p>Calls</p>
                                          <p>{{popobj?.voiceCallDetails}}</p>
                                      </div>
                                </div>
                                <div class="modal-footer"></div>
                               <div style="float: right;">
                              <p>Cycle starts on: {{popobj?.startDate}}</p></div>
                           
                           
                  <!-- </div>   -->
                  </div>
                </div>
                </div>
              </div>
            </div>
            
            <div ><button class="paybtn" data-toggle="modal" data-target="#myModal" (click)="getDetails(i)">PAY</button>  </div> 
            <!-- <div *ngIf="i.blinkLight=='near expiry'"><button  class=" blink paybtn" data-toggle="modal" data-target="#myModal" (click)="getDetails(i)" style="background-color: red;">PAY</button> </div> -->
           <!-- <div  *ngIf="i.blinkLight=='expiry'"><button class="paybtn" data-toggle="modal" data-target="#myModal" (click)="getDetails(i)" style="background-color: gray;">PAY</button></div> -->
          </div>
        </div>
  </div>
</div>
</div>

<!-- <div class="dropdown1">
  <h3 style="display: inline-block; margin-right: 15px; margin-top: 70px;">View history</h3>
  <button *ngIf="!showhistory" (click)="showhist(); gethistory() " style="border-color: gray 1px; background-color: #f8f8f8; border-radius: 20px;"><img src="/assets/images/downarrow.png" style="height: 20px; display: inline-block;"></button>
    <button *ngIf="showhistory" (click)="showhist()" style="border-color: gray 1px; border-radius: 20px"><img src="/assets/images/uparrow.png" style="height: 15px; display: inline-block;"></button>
</div>
<div *ngIf="showhistory" class="historysection">
<section class="scrollablehistory" id="scrollable">
<div *ngFor="let i of history" class="card" id="historycard">
<div class="card-title1" style="background-color:rgb(37, 139, 190) ;">
    <h3>
      PLAN ID:{{i.planID}}
    </h3>
    <h3>
      {{i.planName}}
    </h3>
</div> -->
<!-- <div *ngIf="popobj?.planName=='Premium'" class="card-title1" style="background-color: rgb(70, 82, 178);">
  <h3>
    PLAN ID:1
  </h3>
  <h3>
    Basic
  </h3>
</div> -->
<!-- <div class="card-desc">
  You have paid {{i.final_amount}}₹ for your {{i.planName}} plan on {{i.paymentDate}}.<br> Your next due date is on {{i.dueDate}} .
</div>
</div>
</section>
</div> -->
</div>
<app-router-plans></app-router-plans>
</div>