#plandiv
{
  margin: 0;
  padding: 0;
}
.plancard
{
    display: inline-block;
    margin-top: 95px;
    /* position: absolute; */
    /* box-sizing: border-box; */
}
.card{
  border-radius: 20px;
  display: inline-block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 20px;
  /* height: 100%; */
  height: 220px;
  transition-duration: 0.25s;
  box-shadow: 7px 0px 8px -3px gray;
  background-color: #dae1e7;
 
}
.card:hover
{
  cursor: pointer;
  /* transform: translateY(-15px); */
}
.plannamediv
{
    width: 100%;
    height:20%;
}
.planname
{
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid;
    width: 40%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #4784b5;
    text-align: center;
}
.planname p 
{
  margin-top: 4px;
}

.dailyusage
{
    display: block;
}
.plandetails
{
    margin-top: 20px;
    padding-top: 10px;
}
#plancarddetails h5 
{
    margin-bottom: 1px;
    font-size: 33px;
    font-weight: bold
}
#plancarddetails p
{
    font-size: 14px;
    margin-top: 2px;
}
#activeplanhead
{
    text-align: center;
    margin-top: 90px;
    font-size: 30px;
}
.plancard2
{
    display: inline-block;
}
.plan-benefits
{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 10px;
    /* justify-content: center; */
}
.benefit-icons
{
    display: inline-block;
    flex-basis: 30px;
}
.benefit-icons img
{
 min-height: 20px;
 width: 20px;
}
.benefit-desc
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 1;
  width: 100%;
}
.benefit-desc p
{
    margin-bottom: 0;
    color: black
}
#separator
{
  height: 0.5px;
  width: 100%;
  background-color: rgb(190, 196, 213);
  margin-top: 10px;
  margin-bottom: 10px;
}
#popupcardtitle
{
 margin: 30px;
}
#popupcardtitle p
{
  font-weight: lighter;
  color: red;
}
#benefitsheader
{
  background-color: rgb(237, 237, 237);
}
#exampleModal
{
  position: fixed;
}
.modalcontent 
{
  margin: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}


.paybtn 
{
    width: 115px;
    height: 35px;
    /* margin-top: 15px; */
    /* margin-bottom: -1px; */
    position: absolute;
    bottom: 5%;
    left: 28%;
    border-radius: 30px;
    border: none;
    /* border: 1px solid; */
    /* border-color: rgb(7, 96, 135); */
    /* background-color: rgb(105, 157, 174); */
    /* margin-top: 10px; */
    background-color: rgb(228, 205, 93);
    transition-duration: 0.5s;
    font-size: 15px;
    font-weight: 30%;
    font-family: 'Poppins', sans-serif;
    /* box-shadow: 5px 5px 5px rgb(137, 145, 174); */
    color: black;
    /* background-color: rgb(16, 127, 212); */
    padding: 5px;
}
.paybtn:hover, .paybtn a:hover
{
  transform: translateY(-10px);
  background-color: black;
  color: rgb(228, 205, 93);
}

#bgcard
{
  position: relative;
}
#historycard
{
  display: flex;
  flex-direction: row;
  width: 70%;
  height: 110px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.card-title1
{
  display: flex;
  width: 15%;
  height: 90px;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgb(138, 138, 193);
  align-items: center;
  justify-content: center;
}
.card-desc
{
  flex:1;
  padding: 20px;
}
.scrollablehistory
{
  height: 400px;
  overflow-y: auto;
  align-items: center;
  box-shadow: 3px 1px 5px;
  background-color: rgb(245, 246, 246); 
  margin-left: 10%;
  width: 80%;
  margin-bottom: 0;
}
.historysection
{
  
  position: absolute;
  width: 100%;
  align-items: center;
  margin-bottom: 0;
}
#historycard
{
  left: 10%;
}
.dropdown1
{
  margin-left: 40%;
}
.progress {
  transition: width 2.5s ease; /* Smooth transition for width changes */
}
.progress-bar {
  transition: width 2.5s ease; /* Smooth transition for width changes */
}

@keyframes glowing {
  0% {
    background-color: #a83305;
    box-shadow: 0 0 5px #a83305;
  }
  50% {
    background-color: #a83305;
    box-shadow: 0 0 20px #a83305;
  }
  100% {
    background-color: #a83305;
    box-shadow: 0 0 5px #a83305;
  }
}
.blink {
  animation: glowing 1300ms infinite;
}

@media only screen and (min-width: 760px) {
  #page {
    width: 100%;
  }
}

@media only screen and (max-width: 760px) {
  #page {
    overflow: hidden;
  }
}