
<!-- <div class="outer"> -->
    <div class="container-fluid">
      <div class="row">
        <div id="col1" class="col-md-5 col-lg-6 col-sm-0 col-xs-0">
          <img id="loginimage" src="/assets/images/undraw_signup.png">
      </div>
          <div id="col2" class=" col-lg-6">
          <!-- <div class="col-md-7"> -->
            <ng-container *ngIf="show2">
          <div class="panel border" style="margin-left: 30px;">
            <div class="panel-heading">
              <h3 class="pt-3 font-weight-bold">S I G N U P</h3>
            </div>
            <div class="panel-body p-3">
                <form [formGroup]="regForm">
                    <div class="form-group pt-3">  
                        <div class="input-field" [class.error]="regForm.controls['name'].dirty && regForm.hasError('required','name') "   >
                            <span class="fa fa-user p-2"></span>
                            <input formControlName="name" type="text" placeholder="Name"  [(ngModel)]="users.name">
                        </div>
                    </div>
                    <small class="text-danger" *ngIf="regForm.controls['name'].dirty && regForm.hasError('required','name')">*Name is required</small>
                    <div class="form-group pt-3">
                    <div class="input-field" [class.error]="regForm.controls['email'].dirty && regForm.hasError('required','email')">
                        <span class="fa fa-envelope p-2"></span>
                        <input  formControlName="email" type="email" placeholder="Email" [(ngModel)]="users.email" >
                    </div>
                </div>
                <small class="text-danger" *ngIf="regForm.controls['email'].dirty && regForm.hasError('required','email')">*Email is required</small>
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="regForm.controls['mobile'].dirty && regForm.hasError('required','mobile')">
                        <span class="fa fa-phone p-2"></span>
                        <input formControlName="mobile" type="tel" placeholder="Mobile Number"  [(ngModel)]="users.phonenumber">
                    </div>
                </div>
                <small class="text-danger" *ngIf="regForm.controls['mobile'].dirty && regForm.hasError('required','mobile')">*Mobile number is required</small>
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="regForm.controls['pwd'].dirty && regForm.hasError('required','pwd')">
                        <span class="fa fa-lock p-2"></span>
                        <input formControlName="pwd" type="password" placeholder="Password"  [(ngModel)]="users.password" >
                    </div>
                </div>
                <small class="text-danger" *ngIf="regForm.controls['pwd'].dirty && regForm.hasError('required','pwd')">*Password is required</small>

                <div class="form-group pt-3">
                  <div class="input-field" [class.error]="regForm.controls['pwd'].dirty && regForm.hasError('required','pwd')">
                      <span class="fa fa-lock p-2"></span>
                      <input formControlName="repwd" type="password" placeholder="Confirm Password"   [(ngModel)]="confirmpwd">
                  </div>
              </div>
              <small class="text-danger" *ngIf="regForm.controls['repwd'].dirty && regForm.hasError('required','repwd')">*Confrim Password is required</small>
                
                <button (click)="onsubmit()" type="submit" class="btn btn-outline-primary mt-4 w-100">SIGN UP</button>
                <div class="my-2 mx-3 py-3"><div class="text-center pt-4" id="loginlink">Already have an account? <a id="forget" routerLink="/login" routerLinkActive="active">Login</a></div></div>
                </form>
            </div>
          </div> 
        </ng-container>
        
        <!-- </div> -->
        </div>
        <ng-container *ngIf="show1">
         <button routerLink="/home" class="btn btn-outline-primary" id="backbtn">BACK</button> 
        <div class="container" id="cardcont">
        <div class="card mx-auto" >
          <div class="text-center" id="cardimg">
            <img src="/assets/images/user-check-solid.svg" class="card-img-top" style="width: 70px; height: 60px;">
          </div>
            <h4 class="card-title">Enter the otp sent to ********18</h4>
            <div class="card-body">
          <div class="row">
            <input class="form-control" id="ex1" type="text">
            <input class="form-control" id="ex1" type="text">
            <input class="form-control" id="ex1" type="text">
            <input class="form-control" id="ex1" type="text">
          </div>
          </div>
        </div>
        </div>
      </ng-container>
      </div>
    </div>
  <!-- </div> -->
