
<!-- <div class="outer"> -->
    <div class="container-fluid">
      <div class="row">
        <div id="col1" class="col-md-5 col-lg-6 col-sm-0 col-xs-0">
          <img id="loginimage" src="/assets/images/undraw_signup.png">
      </div>
          <div id="col2" class=" col-lg-6">
          <!-- <div class="col-md-7"> -->
            <!-- <ng-container *ngIf="show2"> -->
          <div class="panel border" style="margin-left: 30px;">
            <div class="panel-heading">
              <h3 class="pt-3 font-weight-bold">S I G N U P</h3>
            </div>
            <div class="panel-body p-3">
                <form [formGroup]="regForm" (ngSubmit)="onsubmit()">
                    <div class="form-group pt-3">  
                        <div class="input-field" [class.error]="regForm.controls['name'].dirty && regForm.hasError('required','name') "   >
                            <span class="fa fa-user p-2"></span>
                            <input id="fields" formControlName="name" type="text" placeholder="Name"  [(ngModel)]="users.name">
                        </div>
                    </div>
                    <small class="text-danger" *ngIf="regForm.controls['name'].dirty && regForm.hasError('required','name')">*Name is required</small>
                    <div class="form-group pt-3">
                    <div class="input-field" [class.error]="regForm.controls['email'].dirty && regForm.hasError('required','email')">
                        <span class="fa fa-envelope p-2"></span>
                        <input id="fields" formControlName="email" type="email" placeholder="Email" [(ngModel)]="users.email" [(ngModel)]="emailphone.email" readonly>
                    </div>
                </div>
                <small class="text-danger" *ngIf="regForm.controls['email'].dirty && regForm.hasError('required','email')">*Email is required</small>
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="regForm.controls['mobile'].dirty && regForm.hasError('required','mobile')">
                        <span class="fa fa-phone p-2"></span>
                        <input id="fields" formControlName="mobile" type="tel" placeholder="Mobile Number add(+91)"  [(ngModel)]="users.phoneNumber" [(ngModel)]="emailphone.phoneNumber" readonly>
                    </div>
                </div>
                <small class="text-danger" *ngIf="regForm.controls['mobile'].dirty && regForm.hasError('required','mobile')">*Mobile number is required</small>
                <div class="form-group pt-3">
                    <div class="input-field" [class.error]="regForm.controls['pwd'].dirty && regForm.hasError('required','pwd')">
                        <span class="fa fa-lock p-2"></span>
                        <input [type]="show? 'text' : 'password'" id="fields" formControlName="pwd" type="password" placeholder="Password"  [(ngModel)]="users.password" >
                        <a (click)="onClick()" style="display: inline-block; cursor: pointer;">
                          <i class="fa fa-eye" aria-hidden="true" *ngIf="!show" style="display: inline-block; size: 45px;"></i>
                          <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show" style="display: inline-block;"></i>
                        </a>
                    </div>
                </div>
                <small class="text-danger" *ngIf="regForm.controls['pwd'].dirty && regForm.hasError('required','pwd')">*Password is required</small>

                <div class="form-group pt-3">
                  <div class="input-field" [class.error]="regForm.controls['pwd'].dirty && regForm.hasError('required','pwd')">
                      <span class="fa fa-lock p-2"></span>
                      <input id="fields" formControlName="repwd" type="password" placeholder="Confirm Password" [(ngModel)]="confirmpwd">
                  </div>
              </div>
              <small class="text-danger" *ngIf="regForm.controls['repwd'].dirty && regForm.hasError('required','repwd')">*Confirm Password is required</small>
                
                <button type="submit" class="btn btn-outline-primary mt-4 w-100">GENERATE OTP</button>
                <div class="my-2 mx-3 py-3"><div class="text-center pt-4" id="loginlink">Already have an account? <a id="forget" routerLink="/login" routerLinkActive="active">Login</a></div></div>
                </form>
            </div>
          </div> 
        </div>
        <!-- </ng-container> -->
        
        <!-- </div> -->
        </div>
      </div>
        <section id="otpsection">
        <ng-container *ngIf="show1">
        <div class="container" id="cardcont">
        <div class="card" style="margin-left: 60%;" >
          <div class="text-center" id="cardimg">
            <img src="/assets/images/shield.gif" class="card-img-top" style="width: 55px; height: 65px; margin-top: 25px;">
          </div>
            <h4 class="card-title">Enter the otp sent to your mobilenumber</h4>
            <div class="card-body">
            <input id="otp" type="text" [(ngModel)]="otpfromfrontend" >
            <button id="otpsubmit" type="submit" (click)="otpverify()" >SUBMIT</button>
          </div>
        </div>
        </div>
      </ng-container>
    </section>


      
    
  <!-- </div> -->
